include header

body
 .container
  #add
   h3 ♥ lolinks ♥

    form(action="add", method="post")
     input(type="text", name="title", placeholder="Título", size="20", autofocus="autofocus")
     input(type="text", name="url", placeholder="URL", size="34")
     br
     input(type="text", name="dcr", placeholder="Descrição (70 caracteres)", size="60", heigth="5")
     br
     input(type="submit", value="♥ ~Enviar~ ♥")
  .container.one-half.column 
   - for(bookmark in bookmarks) {
    a(href=bookmarks[bookmark].url)= bookmarks[bookmark].title
    p #{bookmarks[bookmark].dcr}
   - }

  br
  #pager
     each val in tpages
      a(href= val, class='pag')
        = val