include header

body
 .container
  #add
   h3 lolinks

    form(action="add", method="post")
     input(type="text", name="title", placeholder="Título", size="20")
     input(type="text", name="url", placeholder="URL", size="20")
     br
     input(type="submit", value="Enviar~ ♥")
  #links
   - for(bookmark in bookmarks) {
   a(href=bookmarks[bookmark].url)= bookmarks[bookmark].title 
   | &nbsp; (
   a(href="delete/#{bookmarks[bookmark].id}") delete
   | ) &nbsp
   - }
